.container {
    width: 1440px;
    height: 1024px;
    margin: auto;
    padding-top: 20px;
}

.main-layout {
    display: flex;
    background-color: #070724;
    color: white;
}

.left-layout {
    width: 925px;
    width: 100%;
    height: 750px;
}

.wikipedia {
    display: flex;   
    gap: 10px;
}

.mercury {
    margin-top: 242px;
    margin-left: 335px;

}

.right-layout {
    max-width: 515px;
    width: 100%;
    height: 750px;
    color: aliceblue;
}

.right-layout-up{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.p-planet-name {
    width: 263px;
    height: 104px;
    margin-top: 128px;
    color: #FFF;
    font-family: antonio;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.p-description {
    width: 350px;
    height: 150px;
    color: #FFF;
    font-family: spartan;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
}

.btn {
    display: flex;
    flex-direction: column;
    padding-top: 39px;
    gap: 16px;
}

.btn-item {
    display: flex;
    align-items: center;
    padding-left: 28px;
    gap: 28px;
    width: 350px;
    height: 48px;  
    cursor: pointer;
    background-color: transparent;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #FFF;
    font-family: spartan;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; 
    letter-spacing: 2.571px;
    text-transform: uppercase;
}

.btn-p {
    color: #FFF;
    font-family: spartan;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2.571px;
    text-transform: uppercase;
    opacity: 0.5;
}
.down-layout-item {
    width: 255px;
    height: 128px;
    display: flex;
    flex-direction: column;
    padding-left: 23px;
    padding-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}


.down-layout {
    width: 1110px;
    display: flex;
    gap: 30px;
    margin: auto;
}




.p-title {
    color: #FFF;
    font-family: spartan;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.5;
}

.p-title-numbers {
    color: #FFF;
    font-family: antonio;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.5px;
    text-transform: uppercase;
}