* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #070724;
}

@font-face {
  font-family: myFont;
  src: url('./assets/fonts/Antonio-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: myFont;
  src: url('./assets/fonts/Antonio-Medium.ttf');
  font-weight: 300;
}

@font-face {
  font-family: myFont;
  src: url('./assets/fonts/Antonio-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: myFont;
  src: url('./assets/fonts/Antonio-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: myFonts;
  src: url('./assets/fonts/Spartan-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: myFonts;
  src: url('./assets/fonts/Spartan-Medium.ttf');
  font-weight: 300;
}

@font-face {
  font-family: myFonts;
  src: url('./assets/fonts/Spartan-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: myFonts;
  src: url('./assets/fonts/Spartan-SemiBold.ttf');
  font-weight: 600;
}